.portfolio {
  margin: 0;
  padding: 0 121px 0 121px;
  box-sizing: border-box;

  width: 100%;
  /* min-height: 900px; */
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio__link {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.portfolio__wrapper {
  margin: 0;
  margin-top: 92px;
  margin-bottom: 92px;
  padding: 0;

  width: 100%;
}

.portfolio__slider-container {
  margin: 0;
  padding: 0;

  width: 100%;
}


.portfolio__slider-container .slick-slider .slick-initialized {}

.portfolio__slider-container .slick-list {}

.portfolio__slider-container .slick-track {}

.portfolio__slider-container .slick-slide .slick-active .slick-current {}

.portfolio__slider-container .slick-slide {}

.portfolio__slider-container .slick-slide .slick-cloned {}

.portfolio__slider-container .slick-arrow .slick-prev {}

.portfolio__slider-container .slick-arrow .slick-next {}

.portfolio__slider-container .slick-prev,
.portfolio__slider-container .slick-next {}

.portfolio__slider-container .slick-prev:before,
.portfolio__slider-container.slick-next:before {}

.portfolio__slider-container .slick-dots {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
  position: absolute;
  bottom: -60px;
  display: block;
  width: 100%;

  list-style: none;
  text-align: center;
}

.portfolio__slider-container .slick-dots ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio__slider-container .slick-dots li {
  position: relative;

  margin: 0;
  padding: 0;

  border-radius: 50%;

  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  cursor: auto;
  transition: .3s all;

}

.portfolio__slider-container .slick-dots li p {
  position: absolute;

  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--backgroung-0d0d0d, #0D0D0D);

  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 2.2px;

  cursor: pointer;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.portfolio__slider-container .slick-dots .slick-active {
  color: var(--backgroung-0d0d0d, #0D0D0D);

  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 1;

  letter-spacing: 2.2px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #D9D9D9;
  border-radius: 50%;
}

.portfolio__slider-container .slick-dots li:hover {
  opacity: .5;
}

.portfolio__slider-container .slick-active {}

@media screen and (max-width: 1280px) {
  .portfolio {
    padding: 0 108px;
    /* min-height: 770px; */
  }

  .portfolio__wrapper {
    margin-top: 66px;
  }

  .portfolio__slider-container .slick-dots {
    bottom: -40px;
  }
}

@media screen and (max-width: 1024px) {
  .portfolio {
    padding: 0 86px;
    /* min-height: 976px; */
  }

  .portfolio__wrapper {
    margin-top: 112px;
  }

  .portfolio__slider-container .slick-dots {
    bottom: -60px;
  }
}

@media screen and (max-width: 900px) {
  .portfolio {
    padding: 0 70px;
    /* min-height: 785px; */
  }

  .portfolio__wrapper {
    margin-top: 59px;
  }

  .portfolio__slider-container .slick-dots {
    bottom: -40px;
  }

}

@media screen and (max-width: 768px) {
  .portfolio {
    padding: 0 25px;
    /* min-height: 1382px; */

  }

  .portfolio__wrapper {
    margin-top: 46px;
  }

  .portfolio__slider-container .slick-dots {
    bottom: -50px;
  }
}

@media screen and (max-width: 520px) {}

@media screen and (max-width: 375px) {}

@media screen and (max-width: 350px) {
  .portfolio {
    padding: 0 2px;
  }
}