.skills {
  margin: 0;
  padding: 0 121px 0 121px;
  box-sizing: border-box;

  width: 100%;
  min-height: 900px;
}

.skills__skillscard {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
}

.skills__list {
  margin: 0;
  margin-top: 93px;
  margin-bottom: 122px;
  padding: 0;

  display: flex;
  justify-content: space-between;

  list-style-type: none;

  transition: 0.3s all;
}

@media screen and (max-width: 1280px) {
  .skills {
    padding: 0 107px;
    min-height: 767px;
  }

  .skills__list {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 1220px) {
  .skills__list {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media screen and (max-width: 1024px) {
  .skills {
    padding: 0 31px;
    min-height: 989px;

  }

  .skills__skillscard {
    align-items: center;
  }

  .skills__list {
    display: flex;
    flex-direction: column;

    gap: 38px;
  }
}

@media screen and (max-width: 900px) {
  .skills {
    min-height: 1033px;
  }

  .skills__list {
    gap: 60px;
  }
}

@media screen and (max-width: 768px) {}

.skills__list {
  margin-bottom: 46px;
}

@media screen and (max-width: 520px) {
  .skills {
    padding: 0 4px;
  }

  .skills__list {
    margin-top: 42px;
    gap: 48px;
  }
}

@media screen and (max-width: 375px) {}

@media screen and (max-width: 350px) {
  .skills__list {
    margin-top: 42px;
    gap: 42px;
  }
}