.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__supertitle {
  margin-top: 30px;
  margin-bottom: 5px;
  padding: 0;

  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.22;
  letter-spacing: 5.6px;

  text-decoration: none;
  color: #808080;
}

.header__link {
  text-decoration: none;
  color: #0D0D0D;
  transition: .3s all;

}

.header__link:hover {
  color: rgba(13, 13, 13, 0.5);
}

.header__title {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;

  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.61;
  letter-spacing: 4.32px;
  color: #0D0D0D;
}