.blog-page-0001__circle-container {
  margin: 25px 0 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.blog-page-0001__circle-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.blog-page-0001__circle {
  width: 120px;
  height: 120px;
  background-color: gainsboro;
  border-radius: 50%;
}

.blog-page-0001 .blog-page-0001__signature {
  margin: 0;
  padding: 0;
  color: var(--backgroung-0d0d0d, #0D0D0D);

  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.81;
}

@media screen and (max-width: 1280px) {
  .blog-page-0001__circle-container {
    margin: 24px 0 39px;
  }
}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 834px) {
  .blog-page-0001__circle-container {
    margin: 23px 0 37px;
  }
}

@media screen and (max-width: 650px) {
  .blog-page-0001 .blog-page-0001__signature {
    font-size: 17px;
    line-height: 1.58;
  }
}

@media screen and (max-width: 400px) {
  .blog-page-0001__circle {
    width: 80px;
    height: 80px;
  }
}

@media screen and (max-width: 375px) {}

@media screen and (max-width: 350px) {}