.present {
  margin: 0;
  padding: 0 121px 0 121px;
  box-sizing: border-box;

  width: 100%;
  min-height: 747px;
  display: flex;
  flex-direction: column;

}

.present__title {
  margin: 0;
  margin-top: 30px;
  margin-bottom: 37px;
  padding: 0;

  width: 573px;

  font-family: Roboto;
  font-size: 94px;
  font-style: normal;
  font-weight: 900;
  line-height: 1.52;
  letter-spacing: 11.28px;
}

.present__pharagraph {
  margin: 0;
  margin-top: 22px;
  padding: 0;

  width: 410px;

  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.61;

  letter-spacing: 4.32px;
}

.present__pharagraph_type_thin {
  margin: 0;
  margin-top: 14px;
  padding: 0;


  color: var(--backgroung-808080, #808080);

  /* 1440/font-helper-1440 */
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.22;
  letter-spacing: 5.6px;
}